body {
  color: white;
  background: url("https://media.giphy.com/media/HWmkA6M8cUirK/giphy-downsized.gif")center;

  
  font-family: futura; 
  font-weight: bold;
  text-shadow: 3px 3px black;
  font-size: 75pt
}


button{
  padding: 5px 5px;
  font-size: 1em;
  color: #006432;
  margin-top: 50px;
  margin-left: 50px;
}
@media (max-width: 50px){
  button{
    padding: 10px 30px;
    font-size: 1em;
    color: #006432;
    margin-top: 10px;
    margin-left: 10px;
  }
}

html {
  background-image: url("mata-atlantica-atlantic-forest-in-brazil-royalty-free-image-935746242-1567619461.jpg");
  background-repeat: no-repeat;
  background-size: 1450px 800px; 
}

h1 {
  font: bold 5em futura, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: purple;
}

#button1 {
  position: absolute;
  left: 15px;
  top: 250px;
}

#button2 {
  position: absolute;
  left: 200px;
  top: 250px;
}

#button3 {
  position: absolute;
  left: 400px;
  top: 250px;
}

#button4 {
  position: absolute;
  left: 600px;
  top: 250px;
}

#button5 {
  position: absolute;
  left: 750px;
  top: 250px;
}

label {
  box-shadow: inset 0 1px 0 0;
  background-color: #0000ff;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  display: inline-block;
  color: #ffffff;
  font: bold 15px futura, sans-serif;
  padding: 10px 10px;
  left: 100px;
  top: 100px;
}

input {
  opacity: 0;
}

input:checked + img {
  display: block;
}

/* Shared display and position values for all .display-image elements */
.display-image1,
.display-image2,
.display-image3,
.display-image4,
.display-image5 {
  display: none;
  position: relative;
}

/* IMAGE POSITIONING VALUES */

/* Image 1 */
.display-image1 {
  left: 30px;
  top: 150px;
}

/* Image 2 */
.display-image2 {
  left: 800px;
  top: 0px;
}

/* Image 3 */
.display-image3 {
  left: 50px;
  top: 110px;
}

/* Image 4 */
.display-image4 {
  left: 500px;
  top: -200px;
}

/* Image 5 */
.display-image5 {
  left: 310px;
  top: 300px;
}




</body>
